<!DOCTYPE html>
<html lang="en" ng-app="formApp">
<head>
    <meta charset="UTF-8">
    <title>FSF Registration</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheet.css">
    <link href="" rel="stylesheet" media="screen">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!--<script src="bower_components/ng-country-select/dist/ng-country-select.js"></script>-->
    <!--<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>-->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="index.js"></script>

</head>
<body ng-controller="formCtrl as ctrl">

<h1>Full Stackup Registration Form</h1>

<div class="container">

    <form role="form" ng-submit="ctrl.createForm()" autocomplete="off">

        <div class="form-group-sm">

            <div class="row">

                <div class="col-sm-3">

                    <label for="email">Enter you email here:</label>
                    <input type="email" class="form-control" name="email" id="email" ng-model="ctrl.email"
                        placeholder="Enter a valid email: john@example.com" required>
                    <div role="alert">

                        <span class="error" ng-show="ctrl.email.$error.required">Required!</span>

                    </div>

                </div>


            </div>

        </div>

        <br>

        <div class="form-group-sm">

            <div class="row">

                <div class="col-sm-3">

            <label for="password">Enter your preferred password:</label>
            <input type="password" class="form-control" name="password" id="password" ng-model="ctrl.pw"
                   placeholder="Password should be at least 8 digits long ..." required>

                </div>

            </div>

        </div>

        <br>

        <div class="form-group-sm">

            <div class="row">

                <div class="col-sm-3">

                    <label for="name">Enter your full name:</label>
                    <input type="text" class="form-control" name="name" id="name" ng-model="ctrl.name"
                         placeholder="John Doe" required>
                    <div role="alert">

                        <span class="error" ng-show="ctrl.name.$error.required">Required!</span>

                    </div>

                </div>

            </div>

        </div>

        <br>
        
        <div class="form-group-sm">

            <label for="gender">Please select your gender:</label>
            <select name="gender" id="gender" ng-model="ctrl.gender" required>

                <option value="male">Male</option>
                <option value="female">Female</option>

            </select>

        </div>

        <br>

        <div class="form-group-sm">

            <div class="row">

                <div class="col-sm-4">

                    <label for="dob">Please select your date of birth:</label>
                    <input type="date" class="form-control" name="dob" id="dob" ng-model="ctrl.dob" required >

                </div>

            </div>

        </div>

        <br>

        <div class="form-group-sm">

            <div class="row">

                <div class="col-sm-6">

                    <label for="address">Please provide your address here:</label>
                    <input type="text" class="form-control" name="add" id="address" ng-model="ctrl.add" placeholder="Address line 1"><br>
                    <input type="text" class="form-control" name="add" id="address" ng-model="ctrl.pc"
                           placeholder="Postal Code" ng-minlength="6" ng-maxlength="6">

                </div>

            </div>

        </div>

        <br>

        <div class="form-group-sm">

            <div class="row">

                    <div class="col-sm-4">

                        <label for="cty">Please select your country of birth:</label>
                        <select name="cty" id="cty" ng-model="ctrl.cty" required>

                            <option value="Singapore">Singapore</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Vietnam">Vietnam</option>

                        </select>
                    </div>

            </div>

        </div>

        <br>

        <div class="form-group-sm">

            <div class="row">

                <div class="col-sm-3">

                    <label for="contact">Please provide your contact number:</label>
                    <input type="number" class="form-control" name="contact" id="contact" ng-model="ctrl.cn"
                        placeholder="12345678" ng-minlength="8" ng-maxlength="8" required>

                    <div role="alert">

                        <span class="error" ng-show="ctrl.cn.$error.required">Required!</span>

                    </div>

                </div>
            </div>
        </div>

        <br>

        <button type="submit" class="btn btn-default">Submit</button>

    </form>



</div>

</body>
</html>